In [1]:
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import os
import plotly.io as pio
pio.templates.default = "plotly_white"
pio.kaleido.scope.mathjax = None
import pandas as pd
from pathlib import Path
from tqdm.autonotebook import tqdm
from itertools import cycle
%load_ext autoreload
%autoreload 2
np.random.seed()
tqdm.pandas()

C:\Users\ricks\AppData\Local\Temp\ipykernel_6684\996648543.py:11: TqdmExperimentalWarning:

Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)

In [2]:
df = pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/00247/data_akbilgic.xlsx", skiprows=1)

df.head()

C:\Users\ricks\anaconda3\envs\modern_ts\lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning:

Unknown extension is not supported and will be removed

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [26]:
df["date"].min(), df["date"].max()

(Timestamp('2009-01-05 00:00:00'), Timestamp('2011-02-22 00:00:00'))

In [33]:
df[:"2009-02-01"]

,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
2009-01-12,-0.029191,-0.042361,-0.022823,-0.013526,-0.005026,-0.049039,-0.053849,-0.012451,-0.022630
2009-01-13,0.015445,-0.000272,0.001757,-0.017674,-0.006141,0.000000,0.003572,-0.012220,-0.004827
2009-01-14,-0.041168,-0.035552,-0.034032,-0.047383,-0.050945,0.002912,-0.040302,-0.045220,-0.008677
2009-01-15,0.000662,-0.017268,0.001328,-0.019551,-0.014335,-0.050448,0.030314,-0.012070,-0.023429
2009-01-16,0.022037,0.032278,0.007533,0.006791,0.006289,0.025453,0.004867,0.008561,0.010917
2009-01-19,-0.022692,-0.044349,-0.054262,-0.011550,-0.009351,0.003239,-0.013151,-0.012045,-0.004029
2009-01-20,-0.013709,-0.029661,0.000000,-0.017834,-0.004171,-0.023411,-0.040899,-0.015088,-0.024107
2009-01-21,0.000865,0.001529,0.042572,0.005011,-0.007729,-0.020561,0.033532,-0.003339,-0.005092
2009-01-22,-0.003815,0.005043,-0.015278,-0.009841,-0.001898,0.018818,-0.016982,-0.006552,-0.003227
2009-01-23,0.005661,-0.010008,0.005363,-0.009640,0.000074,-0.038808,0.006261,-0.003620,-0.008077
2009-01-26,0.046831,0.061708,0.005538,0.034787,0.037891,-0.008182,0.009838,0.032800,0.010320
2009-01-27,-0.006635,0.010949,0.010866,-0.000798,-0.003475,0.048148,0.004922,-0.002642,0.006344
2009-01-28,0.034567,0.035871,0.033007,0.044182,0.023748,0.005594,0.038725,0.029974,0.022104
2009-01-29,-0.020528,-0.020272,-0.033681,-0.020256,-0.024774,0.017723,-0.014750,-0.023109,0.000409
2009-01-30,-0.008777,-0.023458,-0.023053,-0.020479,-0.009713,-0.031666,-0.008538,-0.007201,0.002243

In [35]:
pd.date_range(start="2009-01-01", end="2009-01-31", freq="D")

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03', '2009-01-04',
               '2009-01-05', '2009-01-06', '2009-01-07', '2009-01-08',
               '2009-01-09', '2009-01-10', '2009-01-11', '2009-01-12',
               '2009-01-13', '2009-01-14', '2009-01-15', '2009-01-16',
               '2009-01-17', '2009-01-18', '2009-01-19', '2009-01-20',
               '2009-01-21', '2009-01-22', '2009-01-23', '2009-01-24',
               '2009-01-25', '2009-01-26', '2009-01-27', '2009-01-28',
               '2009-01-29', '2009-01-30', '2009-01-31'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range(start="2009-01-01", end="2010-01-31", freq="M")

DatetimeIndex(['2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30',
               '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31',
               '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31',
               '2010-01-31'],
              dtype='datetime64[ns]', freq='M')